/* font imported from adobe fonts */
@import url("https://use.typekit.net/djv5dul.css");

/* set box-model measurements to 0 */ 
*{
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    font-family: adobe-garamond-pro, serif; 
    font-weight 400;
    font-style: normal;
    letter-spacing: 2px; 
}

*/ headings & logo */

#logo {
    float: left
    font-size: 215%;
}

#nav-menu {
    letter-spacing: 2px;
    text-decoration: none; 
    font-size: 105%;
}
