/* font imported from adobe fonts */
@import url("https://use.typekit.net/djv5dul.css");

/* set padding, margins, and borders to 0 */ 
*{
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    font-family: adobe-garamond-pro, serif; 
    font-weight 400;
    font-style: normal;
    letter-spacing: 1px; 
    color: #151515;
}

/* logo & navigation menu */

#logo {
    float: left
    font-size: 215%;
}

#nav-menu {
    letter-spacing: 1px;
    text-decoration: none; 
    font-size: 105%;
}

/* headers */ 

h1, h2 {
    font-family: cormorant-garamond, serif; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: 600;
    font-style: normal; 
    color: #010101;
}
